h1{
    font-weight: lighter;
    color: black;
    font-size: 14px;
}

h2{
    font-family: monospace;
    font-style: thin;
    font-size: 24px;
    color: white;
}

h4{
    color: white;
    font-family: fantasy;
    font-size: 24px;
}

h5{
    color: white;
    font-family: serif;
    font-size: 24px;
}

h6{
    color: white;
    font-family: cursive;
    font-size: 24px;
}


.single-line{
    display: flex;
    justify-content: center;
}

.card-text{
    display: flex;
    justify-content: flex-start
}

header{
    background-color: white;
    
}

.container{
    background-color: black;
    display: flex;
    flex-direction: column;
}

.uno{
     display: flex;
    flex-direction: row;
}

.dos{
     display: flex;
    flex-direction: row;
}

.tres{
     display: flex;
    flex-direction: row;
}

.cuatro{
     display: flex;
    flex-direction: row;
}

footer{
    background: 
}

.footer-top {
    padding: 60px 0; background: #333; text-align: left; color: #aaa; 
}

.footer-top h3 {
    padding-bottom: 10px; color: #fff; 
}

.footer-top {
    padding: 40px 0; text-align: center; 
}

.footer-about p a {
    color: #aaa; border-bottom: 1px dashed #666; 
}

.footer-about p a:hover, .footer-about p a:focus {
    color: #fff; border-color: #aaa; 
}

.footer-contact p { 
    word-wrap: break-word; 
}

.footer-contact p a { 
    color: #aaa; border-bottom: 1px dashed #666; 
}

.footer-contact p a:hover, .footer-contact p a:focus { 
    color: #fff; border-color: #aaa; 
}



a:hover img{
  color: red;
  filter: grayscale(100%);
}

a {
    text-decoration: none;
}

